.smallCardBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text-on-bg);
  color: var(--text-on-bg);
  background-color: white;
  font-weight: 600;
}

.productPageBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 180px;
  max-height: 120px;
  padding: 12px 20px;
  font-size: 21px;
  border-radius: 10px;
}

.minusBtn,
.plusBtn {
  font-size: 21px;
  border: none;
  padding: 5px 15px;
  background-color: rgb(107, 76, 123, 0.3);
}

.minusBtn > svg,
.plusBtn > svg {
  font-weight: bold;
}

.minusBtn:hover,
.plusBtn:hover {
  cursor: pointer;
}
