.container {
  max-width: 100vw;
  background-color: var(--background-color);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20vh;
}

.leftSide {
  border: 1px solid var(--text-on-bg);
  font-size: 96px;
  color: var(--text-on-bg);
  max-width: 25vw;
  min-height: 33vh;
  font-weight: bolder;
  line-height: 1.4;
}

.rightSide {
  border: 1px solid var(--text-on-bg);
  min-width: 40vw;
  min-height: 40vh;
}
