.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: var(--foreground-color);
  color: var(--text-on-fg);
}

.header h1 {
  font-size: 68px;
  letter-spacing: 5px;
  margin-left: 50px;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 30vw;
  margin-right: 100px;
}

.header a {
  text-decoration: none;
  color: inherit;
  border: none;
}
